cron: false
data_dir: "data"
end_date:

push:
  enable: true
  url: "https://open.feishu.cn/open-apis/bot/v2/hook/"
  admin: "admin@chat.sngyai.cn"
  admin_pass: "sN112358+"
  user: "user@chat.sngyai.cn"
